<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Thank you</title>
  <style>
    body {
      font-family: Helvetica, sans-serif;
    }

    .container {
      text-align: center;
    }

    .container h1 {
      font-size: 100px;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .container h2 {
      font-size: 14px;
      color: #444;
    }

    .container h2 p {
      font-style: italic;
      font-size: 12px;
      font-weight: 400;
      color: #444;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>
      👍
    </h1>
    <h2>
      Redirecting you back..
      <p>
        (If this doesn't happen automatically, go back manually)
      </p>
    </h2>
  </div>

  <script>
    setTimeout(function() {
      window.history.back();
    }, 1000);
  </script>
</body>
</html>
